n8n_json/otp-workflow.json
{
  "name": "Send signup OTP via n8n (Corrected)",
  "nodes": [
    {
      "parameters": {
        "path": "signup-otp",
        "options": {
          "responseMode": "json",
          "responseCode": "200",
          "responseData": "{\"status\":\"success\",\"message\":\"OTP request received. Email sent.\"}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7649d21c-a110-469b-8919-86646549a1d4",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "authentication": "predefined",
        "predefinedCredentialType": "apiKey",
        "url": "[https://your-backend-api.com/outbox/fetch](https://your-backend-api.com/outbox/fetch)",
        "method": "POST",
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer YOUR_SECRET_API_KEY"
          }
        ],
        "bodyParameters": [
          {
            "name": "email",
            "value": "={{ $('Webhook Trigger').first(0).json.body.email }}"
          }
        ],
        "options": {
          "responseFormat": "json"
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "e4b542fc-2156-4ab0-8edb-4627d23c502b",
      "name": "Fetch OTP (POST /outbox-fetch)"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Your Universal Clipboard verification code",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px;\">\n\u00A0\u00A0  <h2 style=\"color: #333; text-align: center;\">Your Universal Clipboard Verification Code</h2>\n\u00A0\u00A0  <p style=\"font-size: 16px; color: #555;\">\n\u00A0\u00A0\u00A0\u00A0  Thank you for starting your registration process. To proceed, please use the 6-digit verification code below:\n\u00A0\u00A0  </p>\n\n\u00A0\u00A0  <!-- FIXED OTP DISPLAY: Using the exact node name and simple .json.otp path -->\n\u00A0\u00A0  <div style=\"text-align: center; margin: 30px 0;\">\n\u00A0\u00A0\u00A0\u00A0  <span style=\"font-size: 32px; font-weight: bold; color: #007bff; background-color: #e9ecef; padding: 15px 30px; border-radius: 6px; letter-spacing: 5px; display: inline-block;\">\n\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0  {{ $node[\"Fetch OTP (POST /outbox-fetch)\"].json.otp }}\n\u00A0\u00A0\u00A0\u00A0  </span>\n\u00A0\u00A0  </div>\n\u00A0\u00A0  \n\u00A0\u00A0  <p style=\"font-size: 14px; color: #888;\">\n\u00A0\u00A0\u00A0\u00A0  This code is valid for a short period. If you did not request this code, please ignore this email.\n\u00A0\u00A0  </p>\n</div>",
        "toEmail": "={{ $node[\"Webhook Trigger\"].json.body.email }}",
        "fromEmail": "your.sender.email@gmail.com",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "673f3248-285b-4351-8b22-0d19f854a8b7",
      "name": "Send Email (Gmail)"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          [
            {
              "node": "Fetch OTP (POST /outbox-fetch)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    },
    "Fetch OTP (POST /outbox-fetch)": {
      "main": [
        [
          [
            {
              "node": "Send Email (Gmail)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "b18b6255-7313-43ef-afc0-a7d515a40a5a"
}
